@model Quizzer.Models.QuizzVm.CreateQuizzVm
@{
    ViewData["Title"] = "New quizz";
}

<div class="row">
    <h1 class="display-4">New quizz</h1>
    
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" autofocus />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" autofocus />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <br />
            
            <div class="form-group" id="questions">
                
            </div>
            
            <br />

            <div class="form-group">
                <button type="button" onclick="addQuestion()">Add Question</button>
            </div>
            
            <br />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        function addQuestion() {
            const questionDiv = document.createElement('div');
            questionDiv.classList.add('form-group');

            questionDiv.innerHTML = `
            <label>Question Text</label>
            <input name="Questions[${document.querySelectorAll('#questions .form-group').length}].QuestionText" class="form-control" />

            <br />

            <label>Answers</label>
            <input name="Questions[${document.querySelectorAll('#questions .form-group').length}].Answers[0]" class="form-control" />
            <input name="Questions[${document.querySelectorAll('#questions .form-group').length}].Answers[1]" class="form-control" />
            <input name="Questions[${document.querySelectorAll('#questions .form-group').length}].Answers[2]" class="form-control" />
            <input name="Questions[${document.querySelectorAll('#questions .form-group').length}].Answers[3]" class="form-control" />

            <br />

            <label>Correct Answer Index</label>
            <input name="Questions[${document.querySelectorAll('#questions .form-group').length}].CorrectAnswerIndex" class="form-control" />
        `;

            document.getElementById('questions').appendChild(questionDiv);
        }
    </script>
}
