@model Quizzer.Models.QuizzVm.QuizzDetailsVm

@{
    ViewData["Title"] = "Quizz";
}

<div class="text-center">
    <h1 class="display-4">Quizz</h1>
    
    <p><a asp-action="Index">All quizzes</a></p>
    
    <p>@Model.Title</p>
    <p>@Model.Description</p>
    
    @foreach (var question in Model.Questions)
    {
        <p>@question.QuestionText</p>
        
        <ul>
            @foreach (var answer in question.Answers)
            {
                <li>@answer</li>
            }
        </ul>
    }
</div>