@model Quizzer.Models.QuizzVm.QuizzIndexVm

@{
    ViewData["Title"] = "Quizzes";
}

<div class="text-center">
    <h1 class="display-4">Quizzes</h1>
    
    <p><a asp-action="Create">New quizz</a></p>
    
    @foreach (var quizz in Model.Quizzes)
    {
        <p><a asp-action="Details" asp-route-id="@quizz.Id">@quizz.Title</a></p>
    }
</div>
